# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Distribution / packaging
.Python
build/
dist/
downloads/
eggs/
.eggs/
lib/
# Installer logs
pip-log.txt
pip-delete-this-directory.txt

bin/
secret.py
quotesImg/
