# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.DS_Store

# Distribution / packaging
.Python
build/
dist/
downloads/
eggs/
.eggs/
lib/
bin/
quotesImg/
# Installer logs
pip-log.txt
pip-delete-this-directory.txt


secret.py

